@charset "UTF-8";

/* フォント */

body {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 20px;
  line-height: 1.5;
}
.accent {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-style: normal;
}

footer {
  margin-top: 200px;
}

/* 幅 */
.container {
  max-width: 1240px;
  margin-inline: auto;
  padding-inline: 16px;
}

/* 幅 */
.footer-container {
  max-width: 1440px;
  margin-inline: auto;
  padding-inline: 16px;
}

main > section + section,
.wwd-visual-wrap {
  margin-top: 120px;
}

main > section:nth-of-type(3) {
  margin-top: 0;
}

main > section:nth-of-type(4) {
  margin-top: 0;
}

@media (max-width: 1024px) {
  main > section + section,
  .wwd-visual-wrap {
    margin-top: 96px;
  }
}

@media (max-width: 768px) {
  main > section + section,
  .wwd-visual-wrap {
    margin-top: 72px;
  }
}

@media (max-width: 480px) {
  main > section + section,
  .wwd-visual-wrap {
    margin-top: 56px;
  }
}

.container {
  padding-inline: 24px;
}

@media (min-width: 1024px) {
  .container {
    padding-inline: 24px; /* 余白重視なら32px */
  }
}
